@model IEnumerable<www.ausbit.org.Models.Certificate>

@{
    ViewBag.Title = "List";
}

@using www.ausbit.org.Helpers

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Level
        </th>
        <th>
            Data
        </th>
        <th>
            Thingerprint
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
        @Html.NewlineToBr(item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thingerprint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
